{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body  %}
<div class="Container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/static/1.jfif" alt="First slide" height="600">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://delen.s3.ap-southeast-1.amazonaws.com/Apollo_Tyres_logo_1920x1080_9b61d9b2f7.png" alt="Second slide"  height="600">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/1.jfif " alt="Third slide" height="600">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>





      
        <div class="container my=4">
          <h1 class="my-3 text-center">Select from our range of Tyres</h1>

    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card">

                
                <img class="d-block w-30" src=https://www.apollotyres.com/content/dam/orbit/syncforce/products/1337/T0013862.png alt="Third slide" height="450" width = "400">
                <div class="card-body">
                  <b>Hero Xtream</b>
                  <p class="card-text">1 Size(s) Available</p>
                  <p class="card-text">ActiZIP F2</p>
                  <b>Built for the Roads Less Taken</b>
                  <p class="card-text">A custom touring motorcycle tyre for unstoppable journeys through the roughest roads and the toughest terrains. The actiZIP F2 by Apollo Tyres is built to ensure stability and precision whenever you ride, wherever you ride.</p>


                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group flex-column">      
                     <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">1</small>
                  </div>
                </div>
              </div>
            </div>
            


            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1344/T0016892.png" alt="Third slide" height="450" width = "400">
                <div class="card-body">
                  
                  <b>Royal Enfield Himalyan</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">ActiGRIP R1</p>
                  <b>Take the Unpaved Roads with Confidence</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">2</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1345/T0016898.png " alt="Fivth slide" height="450" width = "400">
                <div class="card-body">
                  <b>PassionPro i3s</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">ActiGRIP R1</p>
                  <b>Take the Unpaved Roads with Confidence</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>

              
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">3</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1866/T0016896.png" alt="Six slide" height="450" width = "400">
                <div class="card-body">
                  <b>Vespa Elegante</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">ActiGRIP S5</p>
                  <b>Riding Excellence on Wet Roads</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">4</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/2062/T0016906.png" alt="Seven slide" height="450" width = "400">
                <div class="card-body">
                  <b>Kawasaki Ninja 300</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">Tramplr XR</p>
                  <b>Let Only the Compass Know Your Location</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">5</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1642/T0013864.png" alt="Eight slide" height="450" width = "400">
                <div class="card-body">
                  <b>Vespa Elegante</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">ActiZip F5</p>
                  <b>Engineered to Empower True Riders</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>
                
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">6</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1892/T0016908.png" alt="Nine slide" height="450" width = "400">
                <div class="card-body">
                  <b>Ktm RC 390</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">Alpha H1</p>
                  <b>Thrill Up Your Beast</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">7</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img class="d-block w-30" src="https://www.apollotyres.com/content/dam/orbit/syncforce/products/1639/T0013867.png" alt="Ten slide" height="450" width = "400">
                <div class="card-body">
                  <b>Royal Enfield Classic 500</b>
                  <p class="card-text">1 Size(s) Available</p>
            
                  <p class="card-text">ActiZip R5</p>
                  <b>Engineeres to Empower True Riders</b>
                  <p class="card-text">9 to 5 deadlines, and weekend getaways to the suburbs, the Apollo actiGRIP R1 is built for every side of you. Designed to ensure precision, safety and stability in every journey you make, so you go the distance every time.</p>
                  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="window.location.href='/contact';">Contact Us</button>
                    </div>
                    <small class="text-body-secondary">8</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




      

{% endblock body  %}